
.button {
  display: inline-block;
  padding: 25px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #F6E952;
  background-color: #6327A0;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
    width: 146px; 
    height: 140px; 
}