{% extends 'base.html' %}

{% block content %}

  <h1>{{ lang.form_personal_info }}</h1>

  <form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form
    if field.widget.input_type != 'hidden' %}

    {% if field.details %}
    <h2>{{lang.form_incident_details}}</h2>
    <br />
    {{field}}

    {% elif field.location %}

    <div class="radio">
      {{ field }}
    </div>

    {% else %}
    <p>
      <!-- {{ field.label }} -->
      {{ field(placeholder=field.label.text) }}
    </p>
    
    {% endif %}

    <p>  
    {% for error in field.errors %}
    {{ error }}
    </p>

    {% endfor %}
    
    {% endfor %}


    <button type="submit" class="submitButton">{{lang.form_submit}}</button>
    <hr />
    <div class="optionButtons">
      <a href="/" type="button" class="optionButton">{{lang.form_cancel}}</a>
      <a href="/resources/{{lang.name}}" type="button" class="optionButton">{{lang.form_resources}}</a>
      <!-- <input type="button" class="optionButton" value="Cancel" />
      <input type="button" class="optionButton" value="Resources" /> -->
    </div>
  </form>

  <script src="/static/geo.js"></script>
{% endblock %}


