{% extends 'base.html' %}

{% block content %}

<h3>Resources</h3>

{% for resource in lang.resources %}
<div class="listResources">

    <h4>{{resource.title}}</h4>
    <ul>
        <p>{{resource.text}}</p>
        {% if resource.phone %}
        <li>Phone: <a href="tel:{{resource.phone}}"> {{resource.phone}}</a></li>
        {% endif %}
        {% if resource.phone %}
        <li>Email: <a href="mailto:{{resource.email}}"> {{resource.email}}</a></li>
        {% endif %}
        {% if resource.address %}
        <li>Address: <a href="#" onClick="return false;">{{resource.address}}</a></li>
        {% endif %}
    </ul>
</div>
{% endfor %}

{% endblock %}